:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
  }

  html {
    box-sizing: border-box;
    font-style: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--dark-cyan);
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

